<h1>Welcome to Car List</h1>
<h2><a href="/add-new-car">click here to add cars to your list</a></h2>
<h2><a href="/search-cars">click here to search your car list</a></h2>
<h2><a href="/view-all">click here to view inventory</a></h2>
