<h1>All cars in inventory.</h1>
    <ul>
        @foreach(var thing in Model)
            {
                <h3>Make and Model: @thing.GetModel()</h3>
                <li>Price: $@thing.GetMiles()</li>
                <li>Mileage: @thing.GetPrice() Miles</li>
            }
    </ul>
    <h2><a href="/">click here to add more cars</a></h2>
<form action="/cars-cleared" method="post">
    <button type="submit" name="button">clear all cars</button>
</form>
